body {
  transition: 0.3s ease;
}

/* NAV */
nav {
  background: #222;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav h2 {
  color: white;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: yellow;
}

/* CONTAINER */
.container {
  max-width: 1000px;
  margin: auto;
  padding: 15px;
}

/* BLOG CARDS */
.card {
  background: grey;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

/* CONTACT */
input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #444;
}

/* MOBILE */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    text-align: center;
  }
}
.featured {
  border: 2px solid gold;
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
}

/* TOP HEADER */
.top-header {
  background: #222;
  padding: 15px;
  display: flex;
  align-items: center;
}

/* LOGO AREA */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* LOGO IMAGE */
.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* WEBSITE NAME */
.logo h1 {
  color: white;
  font-size: 28px;
  margin: 0;
}

/* FOOTER */
.footer {
  background: #2a2a2a;
  color: white;
  padding: 40px 20px 20px;
  margin-top: 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.footer-box {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-box h3 {
  margin-bottom: 10px;
}

.footer-box a {
  display: block;
  color: #bbb;
  text-decoration: none;
  margin: 5px 0;
}

.footer-box a:hover {
  color: yellow;
}

/* bottom line */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
  color: #aaa;
}

#progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 0%;
  background: #00ffcc;
  z-index: 9999;
  transition: width 0.1s ease;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
